<div class="pawtime-form-container pawtime-login">
  <div class="pawtime-form-header">Add Vaccination</div>
  <div class="pawtime-form-body">
    <form class="card-body vaccination-form">
      <div class="form-row p-2">
        <label for="vaccinationNameInput">Vaccination Name: </label>
        <input type="text" class="form-control" id="vaccinationNameInput" placeholder="Enter vaccination name">
      </div>

      <div class="form-row p-2 datetimepicker">
        <label for="vaccinationDateInput">Vaccination Date: </label>
        <input type="text" class="form-control" id="vaccinationDateInput" placeholder="Enter vaccination date">
        <i class="far fa-calendar-alt"></i>
      </div>
      
      <div class="form-row p-2 datetimepicker">
        <label for="vaccinationTimeInput">Vaccination Time: </label>
        <input type="text" class="form-control" id="vaccinationTimeInput" placeholder="Enter vaccination time">
        <i class="far fa-calendar-alt"></i>
      </div>

      <button type="submit" class="btn btn-primary" id="vaccination-submit">Submit</button>
    </form>
  </div>
</div>
<script src="/js/newVaccination.js"></script>