<div class="pawtime-form-container pawtime-login">
  <div class="pawtime-form-header">Add Appointment</div>
  <div class="pawtime-form-body">
    <form class="card-body appointment-form">
      <div class="form-row p-2">
        <label for="appointmentNoteInput">Appointment Notes: </label>
        <input type="text" class="form-control" id="appointmentNoteInput" placeholder="Enter appointment note">
      </div>

      <div class="form-row p-2">
        <label for="appointmentDateInput">Appointment Date: </label>
        <input type="text" class="form-control" id="appointmentDateInput" placeholder="Enter appointment date">
        <i class="far fa-calendar-alt"></i>
      </div>
      
      <div class="form-row p-2">
        <label for="appointmentTimeInput">Appointment Time: </label>
        <input type="text" class="form-control" id="appointmentTimeInput" placeholder="Enter appointment time">
        <i class="far fa-calendar-alt"></i>
      </div>

      <div class="form-row p-2">
        <label for="appointmentAddressInput">Appointment Address: </label>
        <input type="text" class="form-control" id="appointmentAddressInput" placeholder="Enter appointment address">
      </div>

      <button type="submit" class="btn btn-primary" id="appointment-submit">Submit</button>
    </form>
  </div>
</div>

<script src="/js/newAppointment.js"></script>