<form class="card-body note-form">
  <div class="form-group">
    <label for="noteTitleInput">Note Title: </label>
    <input type="text" class="form-control" id="noteTitleInput" placeholder="Enter note title">
  </div>

  <div class="form-group">
    <label for="noteDateInput" >Note Date: </label>
      <input type="text" class="form-control" id="noteDateInput" placeholder="Enter note date"> 
      <i class="far fa-calendar-alt"></i>
  </div>

  <div class="form-group">
    <label for="noteDescriptionInput" >Note Description: </label>
      <input type="text" class="form-control" id="noteDescriptionInput" placeholder="Enter note description">
  </div>

  <button type="submit" class="btn btn-primary" id="note-submit">Submit</button>
</form>

<script src="/js/newNote.js"></script>