<div class="pawtime-form-container pawtime-login">
  <div class="pawtime-form-header">Add Exercise</div>
  <div class="pawtime-form-body">
    <form class="card-body exercise-form">
      <div class="form-row p-2">
        <label for="exerciseDescriptionInput">Exercise Description: </label>
        <input type="text" class="form-control" id="exerciseDescriptionInput" placeholder="Enter exercise name">
      </div>

      <div class="form-row p-2">
        <label for="exerciseDateInput">Exercise Date: </label>
        <input type="text" class="form-control" id="exerciseDateInput" placeholder="Enter exercise date">
        <i class="far fa-calendar-alt"></i>
      </div>

      <div class="form-row p-2">
        <label for="exerciseTimeInput">Exercise Time: </label>
        <input type="text" class="form-control" id="exerciseTimeInput" placeholder="Enter exercise time">
        <i class="far fa-calendar-alt"></i>
      </div>

      <div class="form-row p-2">
        <label for="exerciseDurationInput">Exercise Duration: (in minutes) </label>
        <input type="text" class="form-control" id="exerciseDurationInput" placeholder="Enter exercise duration">
      </div>      

      <button type="submit" class="btn btn-primary" id="appointment-submit">Submit</button>
    </form>

  </div>
</div>
<script src="/js/newExercises.js"></script>