<div class="pawtime-form-container pawtime-login">
  {{!-- <div class="pawtime-form-header">Add Vaccination</div> --}}
  <div class="pawtime-form-body">
    <form class="card-body vaccination-form">
      <div class="form-row p-2">
        <label for="vaccinationNameInput">Vaccination Name: </label>
        <input type="text" class="form-control" id="vaccinationNameInput" placeholder="Enter vaccination name">
      </div>

      <div class="form-row p-2 datetimepicker">
        <label for="vaccinationDateInput">Vaccination Date: </label>
        <div class="row">
          <div class="col-6">
            <input type="date" class="form-control" style="width:160px" id="vaccinationDateInput"
              placeholder="Enter exercise date">
          </div>
          <div class="col-6">
            <input type="time" class="form-control" style="width:160px" id="vaccinationTimeInput"
              placeholder="Enter exercise time">
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary" id="vaccination-submit">+ Add Vaccination Details</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/newVaccination.js"></script>