<div class="pawtime-form-container pawtime-login">
  {{!-- <div class="pawtime-form-header">Add Note</div> --}}
  <div class="pawtime-form-body">
    <form class="card-body note-form">
      <div class="form-row p-1">
        <label for="noteTitleInput">Note Title: </label>
        <input type="text" class="form-control" id="noteTitleInput" placeholder="Enter note title">
      </div>
      <!-- For notes the date & time will be the created/modified date& time and hence no 
      form controls are needed -->
      <div class="form-row p-1">
        <label for="noteDescriptionInput">Note Description: </label>
        <textarea type="text" class="form-control" id="noteDescriptionInput"
          placeholder="Enter note description"></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" id="note-submit">+ Add Note</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/newNote.js"></script>