<form class="card-body exercise-form">
  <div class="form-group">
    <label for="exerciseDescriptionInput">Exercise Description: </label>
    <input type="text" class="form-control" id="exerciseDescriptionInput" placeholder="Enter exercise name">
  </div>

  <div class="form-group">
    <label for="exerciseDateInput" >Exercise Date: </label>
      <input type="text" class="form-control" id="exerciseDateInput" placeholder="Enter exercise date"> 
      <i class="far fa-calendar-alt"></i>
  </div>

  <div class="form-group">
    <label for="exerciseDurationInput" >Exercise Duration: (in minutes) </label>
      <input type="text" class="form-control" id="exerciseDurationInput" placeholder="Enter exercise duration">
  </div>

  <button type="submit" class="btn btn-primary" id="exercise-submit">Submit</button>
</form>

<script src="/js/newExercises.js"></script>