<form class="card-body appointment-form">
  <div class="form-group">
    <label for="appointmentNoteInput">Appointment Notes: </label>
    <input type="text" class="form-control" id="appointmentNoteInput" placeholder="Enter appointment note">
  </div>

  <div class="form-group">
    <label for="appointmentDateInput" >Appointment Date: </label>
      <input type="text" class="form-control" id="appointmentDateInput" placeholder="Enter appointment date"> 
      <i class="far fa-calendar-alt"></i>
  </div>
  <div class="form-group">
    <label for="appointmentAddressInput" >Appointment Address: </label>
      <input type="text" class="form-control" id="appointmentAddressInput" placeholder="Enter appointment address"> 
  </div>

  <button type="submit" class="btn btn-primary" id="appointment-submit">Submit</button>
</form>

<script src="/js/newAppointment.js"></script>