{{!-- TODO: style this page --}}
<div class="card">
  <ul class="list-group list-group-flush">

    <li class="list-group-item">Vaccination Name: {{details}}</li>
    <li class="list-group-item">Vaccination Date: {{date}}</li>
  </ul>
</div>