{{!-- TODO: style this page --}}
<div class="card">
  <ul class="list-group list-group-flush">

    <li class="list-group-item">Exercise Description: {{description}}</li>
    <li class="list-group-item">Exercise Date: {{date}}</li>
    <li class="list-group-item">Exercise Duration: {{duration}} minutes</li>
  </ul>
</div>