<div class="paw-pet-item"> 
    <div class="paw-pet-item-header">{{date}} {{time}}
        <button class="btn btn-sm btn-danger float-end" onclick="deleteExercise({{id}})">X</button>
    </div>
    <div class="paw-pet-item-content">{{details}}</div> 
</div>