<div class="paw-pet-item">
    <div class="paw-pet-item-header">Date: {{date}} | Address: {{address}}
        <button class="btn btn-sm btn-danger float-end" onclick="deleteAppointment({{id}})">X</button>
    </div>
    <div class="paw-pet-item-content">{{notes}}</div>
</div>