{{!-- TODO: style this page --}}
<div class="card">
  <ul class="list-group list-group-flush">

    <li class="list-group-item">Note Title: {{title}}</li>
    <li class="list-group-item">Note Date: {{date}}</li>
    <li class="list-group-item">Note Description: {{description}}</li>
  </ul>
</div>