{{!-- TODO: style this page --}}
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Vaccination Name:</b> {{details}}</li>
    <li class="list-group-item"><b>Vaccination Date:</b>  {{date}}</li>
  </ul>
</div>