<html lang='en'>

  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Paw Time</title>
    <link rel='stylesheet' href='/css/style.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>

  <body>
    <nav class='navbar navbar-expand-lg navbar-light bg-light mt-2 d-flex bd-highlight mb-3'>

      <a class='navbar-brand mr-auto p-2' href='/'>
        <img src='/images/PawTime_logo.png' width='30' height='30' class='d-inline-block align-top nav-logo' alt='' />Paw Time
      </a>

      {{!-- {{#if logged_in}} --}}
      <ul class='nav nav-pills p-2' role='tablist'>
        <li class="nav-item">
          {{!-- profile will be a dropped down --}}
          <a class="nav-link" href="/profile">Profile</a>
        </li>

        <li class="nav-item">
          <button type='button' class='nav-link' id='logout'>Logout</button>
        </li>
      </ul>
      {{!-- {{else}} --}}
      <button type='button' class='btn btn-outline-dark my-2 my-lg-0'>
        <a href="/login">LogIn</a>
      </button>
      {{!-- {{/if}} --}}
    </nav>

    <main>
      <!-- Render the sub layout -->
      {{{body}}}
    </main>

    <footer>

    </footer>

    {{!-- {{#if logged_in}} --}}
      <script src='/js/logout.js'></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    {{!-- {{/if}} --}}
    

  </body>

</html>