
{{! TODO: finalize the layout }}
<div class='jumbotron'>

  <h1 class='display-4'>slogan / short statement of the site !</h1>

  <p class='lead'>Purpose of our site. Maybe we can pull it from the description? or user story?</p>

  <hr class='my-4' />

  <p>...... short sentense ..... optional ......</p>

  {{! TODO/QUESTION: bring them to login/register page if they dont have an account or sign in }}
  <a class='btn btn-primary btn-lg' href='#' role='button'>Register for Your Pet Today!</a>

</div>

{{! TODO: getting the card from profile? }}
