<div class="home-page-fill-container">
  <div class="home-page-fill home-page-fill-1"></div>
  <div class="home-page-fill home-page-fill-2"></div>
  <div class="home-page-fill home-page-fill-3"></div>
</div>

<div class="home-page-content">
  <h1 class='home-page-content-head'>We care about your pet !</h1>
  <p class='home-page-content-text'>
    PawTime will help you keep record of your beloved pet(s), including;
    Vaccinations/Shots, Exercise, Vet Visits, Notes, and more!
  </p>
  <a class='btn btn-primary btn-lg' href='/signup' role='button'>Register for Your Pet Today!</a>
</div>