

<div class="container">
  <div class='jumbotron'>

    <h1 class='display-4'>All in one for your pet(s).</h1>

    <p class='lead'>Are you lossing track for your pets?</p>

    <hr class='my-4' />

    <p>...... short sentense ..... optional ......</p>

    <a class='btn btn-primary btn-lg' href='/signup' role='button'>Register for Your Pet Today!</a>

  </div>
</div>
