{{!-- TODO: check if this work --}}
{{!-- {{#if logged_in }} --}}
<div class="container container-fluid mt4">
  <div class="card-deck">
    {{#each petCardProfile as |petprofile|}}
      {{> petcard}}
    {{/each}}

    {{> new-petcard}}
  </div>
</div>

{{!-- {{else}} --}}
{{! TODO: finalize the layout }}
<div class="container">
  <div class='jumbotron'>

    <h1 class='display-4'>All in one for your pet(s).</h1>

    <p class='lead'>Are you lossing track for your pets?</p>

    <hr class='my-4' />

    <p>...... short sentense ..... optional ......</p>

    {{! TODO/QUESTION: bring them to login/register page if they dont have an account or sign in }}
    <a class='btn btn-primary btn-lg' href='/signup' role='button'>Register for Your Pet Today!</a>

  </div>
</div>

{{!-- {{/if}} --}}