{{!-- TODO: render each profile by id --}}

<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container">
    <div class="row">
      <div class="col col-lg-2">
        {{!-- TODO: style image --}}
        <img class="rounded-circle" alt="pet-image" src="#"data-holder-rendered="true">
      </div>

      <div class="col col-lg-4">
        <h5>PET NAME</h5>
        <small>gender | age</small>
      </div>
      {{!-- TODO: style divider --}}
      <div class="col-xs-2 v-divider"></div>

      <div class="col">
        Lastest Meal ...
      </div>

      <div class="col col-lg-2">
        Next Appointment ...
      </div>
    </div>
  </div>
</div>

<div class="container">
  
  <div class="accordion" id="vaccination-accordion">

    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            VACCINATIONS
          </button>
        </h2>
      </div>

      <form class="vaccination-form">
        <div class="form-group">
          <label for="vaccinationDetails">details</label>
          <input type="text" class="form-control" id="vaccinationDetails" placeholder="Enter vaccination name">
        </div>

        <div class="form-group">
          <label for="vaccinationDate">Date</label>
          <input type="text" class="form-control" id="vaccinationDate" placeholder="Enter date">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">

          
        </div>
      </div>
    </div>
  </div>

  
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

