<div class="container-fluid">
<div class="row">
  <div class="col-8 paw-pet-card-container clearfix">
    {{#each petCards as |petprofile|}}
    {{> petcard}}
    {{/each}}
  </div>
  <div class="col-3 ">
    {{> new-petcard}}
  </div>
</div>
</div>