{{!-- TODO: render each profile by id --}}

<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container">
    <div class="row">
      <div class="col col-lg-2">
        <img class="rounded-circle" alt="100x100" src="#"data-holder-rendered="true">
      </div>

      <div class="col col-lg-4">
        <h5>PET NAME</h5>
        <small>gender | age</small>
      </div>
      {{!-- TODO: style divider --}}
      <div class="col-xs-2 v-divider"></div>

      <div class="col">
        Last Meal ...
      </div>

      <div class="col col-lg-2">
        Next Appointment ...
      </div>
    </div>
  </div>
</div>

<div class="container">
  
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            APPOINTMENTS
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          ....... ADD FUNCTION
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            .... ADD FUNCTION
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          .... ADD FUNCTION
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            VACCINATIONS
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          ..... ADD FUNCTION
        </div>
      </div>
    </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            NOTES
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          
        </div>
      </div>
    </div>
    </div>
  
</div>