{{! QUESTION this for already have card and need to create card?}}
{{! if already have pet profile set up render the profile card, if not render a card to create profile }}

<div class='card-deck'>

  {{! COMMENT: this is for if user has a profile created }}
  <div class='card'>
    {{! TODO: add image  IMPORTANT: future feature - allow multiple images with slides}}
    <img src='...' class='card-img-top' alt='...' />

    <div class='card-body'>
      <h5 class='card-title'>PET 1 NAME</h5>
      {{! TODO: format to make the list of information better }}
      <p class='card-text'>information</p>
      <p class='card-text'>information</p>
      <p class='card-text'>information</p>
      <p class='card-text'>information</p>
    </div>

    {{! IMPORTANT: maybe this can be a short reminder we add to the profile card }}
    <div class='card-footer'>
      <small class='text-muted'>Last updated 3 mins ago</small>
    </div>
  </div>

  {{! COMMENT: this is one card template }}
  <div class='card'>
    {{! TODO: add image  IMPORTANT: future feature - allow multiple images with slides}}
    <img src='...' class='card-img-top' alt='...' />

    <div class='card-body'>
      <h5 class='card-title'>PET 1 NAME</h5>
      {{! TODO: format to make the list of information better }}
      <p class='card-text'>information</p>
      <p class='card-text'>information</p>
      <p class='card-text'>information</p>
      <p class='card-text'>information</p>
    </div>

    {{! IMPORTANT: maybe this can be a short reminder we add to the profile card }}
    <div class='card-footer'>
      <small class='text-muted'>Last updated 3 mins ago</small>
    </div>
  </div>

</div>