<div class="pawtime-form-container pawtime-login">
  <div class="pawtime-form-header">Sign Up</div>
  <div class="pawtime-form-body">
    <form class="form signup-form">
      <div class="form-row p-2">
        <label for="name-signup">Name:</label>
        <input class="form-control" type="text" id="name-signup" />
      </div>
      <div class="form-row p-2">
        <label for="email-signup">Email:</label>
        <input class="form-control" type="text" id="email-signup" />
      </div>
      <div class="form-row p-2">
        <label for="password-signup">Password:</label>
        <input class="form-control" type="password" id="password-signup" />
      </div>
      <div class="form-row p-2">
        <label for="password-signup">Zip Code:</label>
        <input class="form-control" type="text" id="zipcode-signup" />
      </div>
      <div class="form-row p-2">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>